* {

	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial;
	text-decoration: none;
	color: black;

}

.wrapper {

	margin: auto;
	width: 700px;
	height: 600px;
	overflow: auto;
	background-color: #CCCCCC;

}

a:hover {

	color: red;

}

h1 {

	display: inline-block;
	margin: 10px 5px 10px 5px;

}

h3 {

	float: right;
	display: inline-block;
	margin: 18px 15px 10px 10px;

}

.header-wrapper {

	padding: 5px 5px 5px 5px;
	background-color: blue;

}

legend {

	border-style: double;
	border-radius: 4px;

}

.form-wrapper {

	margin: 10px auto 10px auto;
	width: 40%;

}


label {

	float: left;

}

input, select, textarea {

	float: right;

}

#submit {

	float: right;
	width: 100%;

}

.footer-wrapper {


	bottom: 0;
	position: absolute;

	background-color: blue;
	width: 700px;
	height: 40px;

}

ul li {

	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;

}
