* {

	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial;
	text-decoration: none;
	color: black;

}

.wrapper {

	margin: auto;
	width: 700px;
	height: 625px;
	background-color: black;

}

img {

	width: 700px;
	object-fit: contain;

}

a:hover {

	color: red;

}

h1 {

	display: inline-block;
	margin: 10px 5px 10px 5px;

}

h3 {

	float: right;
	display: inline-block;
	margin: 18px 15px 10px 10px;

}

.header-wrapper {

	background-color: #e34627;

}

legend {

	border-style: solid;
	border-width: 1px;
	margin: 10px 2px 5px 2px;
	padding: 0px 2px 2px 2px;
	border-radius: 3px;
	background-color: red; 
	font-size: 70%;

}

fieldset {

	border-style: none;
	background-color: #e34627;
	padding-bottom: 13px;
	
}


label {

	margin-left: 55px;
	margin-right: 30px;
	font-size: 90%;
	float: left;

}

input {

	float: left;
	margin-left: 10px;
	margin-right: 10px;

}

#submit {

	float: right;
	padding-left: 20px;

}

.footer-wrapper {


	background-color: #3b2710; 
	width: 700px;
	height: 20px;

}

#right {
	
	float: right;
	margin: 15px 10px 10px 10px;
	background-color: orange;
	border-radius: 3px;
	padding: 5px 5px 5px 5px;

}

ul li {

	display: inline-block;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: orange;
	padding: 4px 4px 4px 4px;
	border-radius: 3px;

}

.main-menu {

	background-color: maroon;
	width: 700px;

}

p {

	font-size: 40%;
	opacity: 50%;
	padding-top: 5px;
	margin-left: 10px;
	color: orange;
}
